* {
    box-sizing: border-box;
}

.section {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-image: url("../Assets/Gallery/dxaurk.jpg");
}

.Gallery {

    color: rgb(243, 235, 235);
    width: 30%;
    height: 40%;
    font-size: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 15%;
    display: flex;
    align-items: center;

}

.logo {
    margin-top: 0.7cm;
    margin-bottom: 15%;
    width: 11%;
    height: 11%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-bar {

    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

}

.nav-items {

    margin-bottom: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

}

.nav-link {
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 10px;

}

::-webkit-scrollbar {
    width: 5px;
}

/* Gallery page */
.section2 {
    width: 100vw;
    background-color: rgb(26, 23, 23);

}

.image-class {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    /* flex-direction:row; */
    width: 100%;
    height: 100%;
}

.exp-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.3%;
    overflow: hidden;
}

.image {
    width: 100%;
    max-height: 100%;
}

.title-button {
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    bottom: 90%;
    width: 40%;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 20%;
    margin-bottom: 20%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.sidenav {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: #f1f1f1;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.footer-container {
    background-color: #111a1d;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100vw;
    height: 70vh;
    justify-content: space-around;
}

.footer-item-logo {
    display: flex;
    justify-content: space-around;
    padding-top: 8%;
}

.footer-items {
    display: flex;
}

#footer-logo {
    height: 18%;
    width: 18%;
}

#footer-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.links {
    margin-bottom: 50px;
}

.contact-info,
.link,
.page {
    margin-bottom: 10px;
}

.copyright {
    opacity: 0.5;
    width: 50%;
    position: relative;
    left: 9%;
    bottom: 10%;
}



@media only screen and (max-device-width: 450px) {
    .nav-items {
        display: block;

    }

    .cards {
        flex-direction: column;
        width: 100%;
    }

    .exp-box {
        width: 100%;
    }
}

@media only screen and (max-device-width: 700px) and (min-device-width:450px) {
    .nav-items {
        display: block;

    }

    .cards {
        flex-direction: column;
        width: 100%;
    }

    .exp-box {
        width: 100%;
    }

    .section2 {
        width: 100vw;
        background-color: black;

    }

    .image-class {
        display: flex;
        flex-direction: column;
    }

    .cards {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .exp-box {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        overflow: hidden;
    }

    .image {
        width: 100%;
        max-height: 100%;
    }
}